.stats-grid:first-child::before {
    content: "🔥";
    font-size: 2rem;
}

.stats-grid:last-child {
    background-image: linear-gradient(
        to right,
        #4b57fd,
        #9900ff
    );
}

.stats-grid:last-child .stat-number {
    color: white;
}

.stats-grid:last-child .stat-label {
    color: white;
}

.stats-grid {
    transition: transform 0.3s ease;
}

.stats-grid:hover {
    transform: translateY(5px);
    box-shadow: 5px 5px 6px rgba(58, 58, 58, 0.3);
}

.workout-section article:nth-child(3) {
    border-left: 5px solid #ffa500;
    background-color: #fff8ba;
}

.exercise-item:first-child {
    border-color: green;
    background-color: #f0fff4;
}

.exercise-item:last-child {
    border-color: green;
    background-color: #f0fff4;
}

.exercise-item:nth-child(even)::before {
    content: "⚡";
}

.goals-container input, select {
    transition: border 0.3s linear, box-shadow 0.3s linear;
}

.goals-container input:focus, select:focus {
    outline: none;
    border: 1px rgb(25, 25, 255) solid;
    box-shadow: 0px 0px 6px 1px rgba(25, 25, 255, 0.3);
}

.goals-container .save-btn {
    transition: transform 0.5s ease, background-color 0.6s linear;
}

.goals-container .save-btn:hover {
    transform: translateY(5px);
    background-color: #3453e0;
    box-shadow: 0px 0px 6px 3px rgba(25, 25, 255, 0.3);
}

.progress-bar .progress-fill::before {
    content: "65%";
    position: absolute;
    font-weight: bold;
    top: 5px;
    right: 1px;
    font-size: 10px;
    color: #ffffff;
    translate: -50% -50%;
}

.nav-footer .nav-item {
    transition: background-color 0.4s linear, color 0.4s linear;
}

.nav-footer .nav-item:hover {
    background-color: #34495e;
    color: #667eea;
}

.nav-footer a:first-child {
    background-color: #34495e;
    color: #667eea;
}

.quote-box::before {
    content: "''";
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 50px;
    color: #96a1eb;
}
.quote-box::after {
    content: "''";
    position: absolute;
    top: 17px;
    right: 10px;
    font-size: 50px;
    color: #9e86c5;
}