.stats-grid:first-child::before {
    content: "🔥";
    font-size: 2rem;
}

.stats-grid:last-child {
    background-image: linear-gradient(
        to right,
        #4b57fd,
        #9900ff
    );
}

.stats-grid:last-child .stat-number {
    color: white;
}

.stats-grid:last-child .stat-label {
    color: white;
}

.stats-grid:hover {
    transform: scale(105%);
    box-shadow: 5px 5px 6px rgba(58, 58, 58, 0.3);
}

.workout-section article:nth-child(3) {
    border-left: 5px solid #ffa500;
    background-color: #fff8ba;
}